/*https://images.unsplash.com/photo-1513611771808-7e8ab7f1dec6*/

html{
    height: 100%;
}
.navbar-default .navbar-brand{
    
    
    color: black; 
}

body{
    
    background: url(https://images.unsplash.com/photo-1513611771808-7e8ab7f1dec6);
    background-size: cover;
    background-position: center;
    font-family: Catamaran;
}

.center{
    text-align: center;
    padding-top: 12%;
}


h1,p{
    
    color: black;
}


#login{
    min-width: 250px;
    background-color: rgba(255,255,255,0.7);
    padding: 14px 14px 0;
}

#login .social-button{
    
    
    margin: 12px 0;
}


.btn-fb{
    color: #fff;
    background-color: #3b5998;
}

.btn-fb:hover{
    color: #fff;
    background-color: #496ebc;
}



.btn-tw{
    color: #fff;
    background-color: #55acee;
}


.btn-tw:hover{
    color: #fff;
    background-color: #496ebc;
}

